asgiref==3.3.4
backcall==0.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
colorama==0.4.4
decorator==5.0.9
Django==3.2.4
django-configurations==2.2
django-crispy-forms==1.11.2
django-rest-framework==0.1.0
djangorestframework==3.12.4
gunicorn==20.1.0
ipython
ipython-genutils==0.2.0
jedi==0.18.0
joblib==1.0.1
matplotlib-inline==0.1.2
numpy~=1.20.3
pandas==1.2.5
parso==0.8.2
pickleshare==0.7.5
Pillow==8.2.0
prompt-toolkit==3.0.18
psycopg2==2.8.6
Pygments==2.9.0
python-dateutil==2.8.1
pytz==2021.1
scikit-learn==0.24.2
scipy==1.6.3
simplejson==3.17.2
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
threadpoolctl==2.1.0
torch~=1.9.0
torchaudio
torchvision~=0.10.0
traitlets
typing-extensions==3.10.0.0
wcwidth==0.2.5
whitenoise==5.2.0

matplotlib~=3.4.3
