<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    {% load static %}
    <link href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/base.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/stop_problem.css' %}" rel="stylesheet"/>
    {% block page_styling %}

    {% endblock %}
    <script type="text/javascript" src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/base.js' %}" defer></script>
    {% block page_scripts %}

    {% endblock %}

    {% block title %}
        <title>Stop Problem Experiment</title>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}"/>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">Optimal Stopping Problem</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'player-registration' %}">Register</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'start-game' %}">Info</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3"
               href="{% url 'thanks-for-playing' %}">Results</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3"
               href="{% url 'about' %}">About</a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a class="nav-link" href="{% url 'player-registration' %}">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
            <h1 class="display-4"><u>
                {% block content_title %} Stop Problem Experiment{% endblock %}
            </u></h1>
            <br>
            {% block content %}
                <div class="container jumbotron">
                    {% block jumbotron_content %}

                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
</div>
{% block footer_scripts %}

{% endblock %}
</body>
</html>
