{% extends 'base.html' %}

{% block content_title %}
    {% if player.is_done %}
        Results
    {% else %}
        Results so far
    {% endif %}
{% endblock %}
{% block jumbotron_content %}
    {% if player.is_done %}
        <p class="lead">Thank you for your contribution to our experiment. We hope you enjoyed it.</p>
        <p class="lead">You're total score is: <strong>{{ player.total_score }}</strong></p>
        <h1 class="display-6">Thanks For Playing :)</h1>
    {% else %}
        <p class="lead">You still have more rounds to complete!</p>
        <p class="lead">You're score so far is: <strong>{{ player.total_score }}</strong></p>
        <a class="btn btn-primary" href="{% url 'game-sequence' %}">Back To Game</a>
    {% endif %}
{% endblock %}
